ArticleWebInterface/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cmu.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cmu.org/" name="ArticleQeuryImplService">
<types></types>
<message name="selectAllArticleTitles"></message>
<message name="selectAllArticleTitlesResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="selectAllAuthors"></message>
<message name="selectAllAuthorsResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="selectAllTheTitleOfFristArticle"></message>
<message name="selectAllTheTitleOfFristArticleResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="selectArticlesLaterThan">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="selectArticlesLaterThanResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="selectTitlesLaterThan">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="selectTitlesLaterThanResponse">
<part name="return" type="xsd:string"></part>
</message>
<portType name="ArticleQueryInterface">
<operation name="selectAllArticleTitles">
<input wsam:Action="http://ws.cmu.org/ArticleQueryInterface/selectAllArticleTitlesRequest" message="tns:selectAllArticleTitles"></input>
<output wsam:Action="http://ws.cmu.org/ArticleQueryInterface/selectAllArticleTitlesResponse" message="tns:selectAllArticleTitlesResponse"></output>
</operation>
<operation name="selectAllAuthors">
<input wsam:Action="http://ws.cmu.org/ArticleQueryInterface/selectAllAuthorsRequest" message="tns:selectAllAuthors"></input>
<output wsam:Action="http://ws.cmu.org/ArticleQueryInterface/selectAllAuthorsResponse" message="tns:selectAllAuthorsResponse"></output>
</operation>
<operation name="selectAllTheTitleOfFristArticle">
<input wsam:Action="http://ws.cmu.org/ArticleQueryInterface/selectAllTheTitleOfFristArticleRequest" message="tns:selectAllTheTitleOfFristArticle"></input>
<output wsam:Action="http://ws.cmu.org/ArticleQueryInterface/selectAllTheTitleOfFristArticleResponse" message="tns:selectAllTheTitleOfFristArticleResponse"></output>
</operation>
<operation name="selectArticlesLaterThan">
<input wsam:Action="http://ws.cmu.org/ArticleQueryInterface/selectArticlesLaterThanRequest" message="tns:selectArticlesLaterThan"></input>
<output wsam:Action="http://ws.cmu.org/ArticleQueryInterface/selectArticlesLaterThanResponse" message="tns:selectArticlesLaterThanResponse"></output>
</operation>
<operation name="selectTitlesLaterThan">
<input wsam:Action="http://ws.cmu.org/ArticleQueryInterface/selectTitlesLaterThanRequest" message="tns:selectTitlesLaterThan"></input>
<output wsam:Action="http://ws.cmu.org/ArticleQueryInterface/selectTitlesLaterThanResponse" message="tns:selectTitlesLaterThanResponse"></output>
</operation>
</portType>
<binding name="ArticleQeuryImplPortBinding" type="tns:ArticleQueryInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="selectAllArticleTitles">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.cmu.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.cmu.org/"></soap:body>
</output>
</operation>
<operation name="selectAllAuthors">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.cmu.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.cmu.org/"></soap:body>
</output>
</operation>
<operation name="selectAllTheTitleOfFristArticle">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.cmu.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.cmu.org/"></soap:body>
</output>
</operation>
<operation name="selectArticlesLaterThan">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.cmu.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.cmu.org/"></soap:body>
</output>
</operation>
<operation name="selectTitlesLaterThan">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.cmu.org/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.cmu.org/"></soap:body>
</output>
</operation>
</binding>
<service name="ArticleQeuryImplService">
<port name="ArticleQeuryImplPort" binding="tns:ArticleQeuryImplPortBinding">
<soap:address location="http://localhost:8888/article/query"></soap:address>
</port>
</service>
</definitions>